@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(0, 128, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

nav {
    background: rgb(255, 0, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vh;
}

#logo{
    background-color: blueviolet;
}

#language{
    background-color: brown;
    width: 256px;
    height: auto;
    text-align: center;

}

#resturant{
    border: 5px;
    width: 10%;
    height: auto;
}