@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(0, 128, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16vh;
}

#taskbar {
    display: grid;
    align-items: center;
    padding-left: 14%;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 100%;
    height: 7vh;
    width: 100%;
    grid-template-areas: "str" "res" "oms";
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
}


#logo{

}

#language{
    background-color: brown;
    margin-right: 175px;
    margin-left: 50px;
    height: auto;
    text-align: center;
    text-decoration: none;
}

.button {
    text-decoration: none;
    border: solid black 5px;
    border-radius: 15px;
    padding: 2%;
}

#start{
    grid-area: str;

}

#resturant{
    grid-area: res;
}

#om_oss{
    grid-area: oms;
}


#welcome{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    height: 60vh;
    padding-top: 15vh;
}

#åskort_reklam{
    background-color: aqua;
    height: 40vh;
}

#right_section{
    
}

#middle_section{
    
}

#left_section{

}